h1 Rooms

.row
    .small-7.columns
        .row
            .small-12.columns
                h3 Create a Room
                .row
                    .small-4.columns
                        input#name(type='text', placeholder='unique name', name='name', ng-model='room.name', required)
                    .small-4.columns
                        input#password(type='password', placeholder='password', name='password', ng-model='room.password', required)
                    .small-4.columns
                        button.success.tiny.radius(ng-click='addRoom()') Create Room
        .row
            .small-12.columns
                h3 Rooms List
                #rooms.panel.radius
                    .room
                        .owner(style='font-weight: bold') Owner
                        .name(style='font-weight: bold') Name
                        .password(style='font-weight: bold') Password
                        .join(style='font-weight: bold') Join
                    .room(ng-repeat='room in rooms | orderBy:"createdAt":true')
                        .owner: img.avatar-icon(src='{{room.creator.avatar}}')
                        .name {{room.name}}
                        .password: input(type='password', ng-model='password', style="width: 100px")
                        .join: button.alert.tiny.radius(ng-click='join(room)') Join!
    .small-1.columns
    .small-4.columns
        h3 Chat
        #messages.panel.callout.radius
            .chat(ng-repeat="m in messages")
                img.avatar(src="{{m.avatar}}")
                .chat-name {{m.username}}:
                .chat-text {{m.body}}
        input#message(type='text', ng-model='message.body', required)
        button.tiny.radius(ng-click='chat()') Send Message